@media screen and (max-width: 768px) {
    header .interface {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
        
      }

      header .interface #navegacao .lista{
        display: none;
        transition: .5s;
      }
    
      header .interface #navegacao .lista .lista-item {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        padding: 10px 14px;
        transition: 0.3s;
        cursor: pointer;
        
    }

      .exit {
        display: flex;
        width: 30px;
        height: 40px;
        cursor: pointer;
        flex-direction: column;
        margin: 10px;
        justify-content: center;
        outline: none;
      }
      
      .exit div {
        height: 2px;
        margin: 3px 0;
        background-color: #191a27;
        border-radius: 2px;
        transition: 0.3s;
      }
      .exit.ativar div:nth-child(1) {
        transform: rotate(45deg) translate(2.2px, 1.5px);
      }
      
      .exit.ativar div:nth-child(2) {
        opacity: 0;
      }
      
      .exit.ativar div:nth-child(3) {
        transform: rotate(-45deg) translate(10px, -9.5px);
      }

      main #home {
        margin-top: 50px;
        padding: 90px;
        flex-flow: column nowrap;
      }

      main #home img {
        width: 70vw;
      }

      main #home #textos {
        width: 90vw;
      }

      main #home #textos h1 {
        font-weight: 400;
        color: #191a27;
        font-size: 26px;
      }

      .letras a {
        font-size: 20px;
      }
      
      .botoes{
        gap: 20px;
      }

      section#sobre {
        color: white;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        margin-bottom: 200px;
      }
      
      .fundoescurecido {
        position: static;
        width: 100vw;
        height: 750px;
        background-color: rgba(0, 0, 0, 0.986);
        padding: 50px;
        transform: translateX(0);
      }

      section#sobre .sobre-mim {
        text-align: center;
      }

      section#sobre .sobre-mim h1 {
        font-size: 40px;
      }
      

      section#sobre img {
        position: static;
        width: 300px;
        transform: translateX(0);
        border-radius: 0px;
      }

      #competencias {
        width: 100vw;
      }

      #competencias #ferramentas p{
        font-size: 15px;
      }

      #competencias h1 {
        font-size: 30px;
      }

      #competencias #ferramentas {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 70px;
        align-self: center;
        justify-content: center;
      }

      #competencias #ferramentas img{
        width: 60px;
      }

      .slider-wrapper {
        overflow: hidden;
        max-width: 2500px;
        margin: 0 15px 55px;
      }

      .fundo {
        width: 100vw;
        height: 100%;
        padding: 10px;
      }

      .card-list .card-item .img-projeto {
        width: 250px;
        border-radius: 30px;
      }

      #contato{
        flex-flow: column nowrap;
      }

      .EntreEmContato{
        font-size: 25px;
        padding: 0;
        padding-top: 10px;
      }

      #formulario {
        width: 95vw;
      }

      .infos-input {
        width: 90%;
      }

      #SeuProjeto{
        width: 90%;
      }
    }