@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body{
    background-color: white;
}

@keyframes animar-titulo {
    0% {
        opacity: 0; /* Começa invisível */
        transform: translateY(-20px); /* Desloca para cima */
    }
    100% {
        opacity: 1; /* Termina visível */
        transform: translateY(0); /* Retorna à posição original */
    }
}

.letras {
    animation: animar-titulo 2s ease; /* Aplica a animação */
}

/*SCROLL BAR*/

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 8px; 
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px; 
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
}


/*HEADER*/
header{
    z-index: 9999999;
    top: 0;
    position: fixed;
    width: 100%;
    background-color: #ffffff;
}

header .interface{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 10px 50px;
}

header h1{
    color: rgb(0, 0, 0);
    text-shadow: 3px 3px 4px rgb(129, 129, 129);
    font-weight: 600;
    font-size: 20px;
}

header .interface #navegacao{ 
    display: flex;
    justify-content: center;
    align-items: center;
}

header .interface #navegacao .lista{
    list-style-type: none;
}

header .interface #navegacao .lista .lista-item{
    display: inline-block;
    font-size: 20px;
    text-shadow: 2px 2px 2px rgba(129, 129, 129, 0.589);
    padding: 0 14px;
    transition: .3s;
    cursor: pointer;
}

header .interface #navegacao .lista .lista-item a {
    text-decoration: none;
    color: #000000;
}

header .interface #navegacao .lista .lista-item:hover{
    transform: scale(1.2);
}

#logoV{
    width: 40px;
    border-radius: 50%;
}

/*MAIN - section( home )*/

main #home{
    padding: 80px 41px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

main #home img{
    width: 40vw;
}

main #home #textos{
    width: 40vw;
    text-align: justify;
    font-size: 20px;
}

main #home #textos h1 {
    font-weight: 400;
}

.letras a{
    font-size: 3vh;
    color: white;
    text-decoration: none;
}

main #home #textos h1 #nome{
    font-weight: bold;
}

main #home #textos button{
    padding: 10px;
    margin-top: 30px;
    box-shadow: 5px 5px 10px rgb(129, 129, 129);
    border-radius: 30px;
    border: none;
    color: white;
    background-color: rgb(8, 4, 3);
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    transition: .3s;
}

main #home #textos button:hover{
    transform: scale(1.2);
}

.botoes{
    display: flex;
    flex-flow: row nowrap;
    gap: 50px;
}

.material-symbols-outlined{
    transform: translateY(5px);
}

/*MAIN - SOBRE*/

section#sobre{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background: url("../images/codando.png") no-repeat fixed center center / cover;
    color: white;
}

.fundoescurecido{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.733);
    padding: 50px;
}

section#sobre .sobre-mim{
    width: 596px;
    text-align: justify;
}

#sobre .sobre-mim p{
    font-size: 18px;
    padding-bottom: 20px;
}

section#sobre div.text-and-image{
    width: 100%;
}

section#sobre div.text-and-image img{
    width: 600px;
    height: 600px;
    
    border-radius: 30px;
}

section#sobre h1{
    font-weight: bold;
    font-size: 50px;
}

section#sobre h1 #mim {
    font-weight: bold;
}

div.text-and-image{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

/*MAIN - COMPETÊNCIAS*/

#competencias{
    width: 100%;
    padding: 50px;
}

#competencias h1{
    text-align: center;
    font-size: 50px;
}

#competencias #ferramentas{
    display: flex;
    flex-flow: row wrap;
    gap: 250px;
    justify-content: center;
    padding: 0 40px;
}

#competencias #ferramentas p {
    display: flex;
    align-items: center;
    gap: 3px;
    font-size: 20px;
}

#competencias #ferramentas img{
    width: 80px;
    transition: .2s;
}
.coluna-primaria{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    gap: 50px;
}

@keyframes Rotate {
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}

#engrenagem{
    margin: 0;
    padding: 0;
    animation: 4s Rotate infinite linear;
}

.habilidade{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.itens-comp{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    font-size: 30px;
}

#javascript{
    padding-top: 10px;
}

/*MAIN - PROJETOS*/


#projetos{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
}

#title{
    text-align: center;
    color: black;
    font-size: 50px;
    margin-bottom: 30px;
}

.fundo{
    width: 100%;
    height: 100%;
    padding: 50px;
}

.card-list .card-item{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.541);
    padding: 20px;
    user-select: none;
    height: 550px;
    border: 1px solid black;
    border-radius: 20px;
}

.card-list .card-item .descricao-projeto{
    text-align: center;
    font-size: 12px;
    color: rgb(0, 0, 0);
}

.card-list .card-item .nome-projeto{
    font-size: 20px;
    color: rgb(0, 0, 0);

}

.card-list .card-item .acessar{
    width: 150px;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    border: none;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.459);
    transition: .2s;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

.card-list .card-item .acessar:hover{
    transform: scale(1.1);
}

.card-list .card-item .img-projeto{
    width: 300px;
    border-radius: 30px ;
}

.slider-wrapper {
    overflow: hidden;
    max-width: 2000px;
    margin: 0 60px 35px;
}

.slider-wrapper .swiper-pagination-bullet{
    background: rgb(0, 0, 0);
    
}

.slider-wrapper .swiper-slide-button{
    color: rgb(0, 0, 0);
    z-index: 90;
}


/*MAIN - CONTATO*/

#contato{
    display: flex;
    flex-flow: row nowrap; 
    justify-content: space-between;
    align-items: center;
    background: url("../images/website.jpg") no-repeat fixed center center / cover;
}

.EntreEmContato{
    color: white;
    font-size: 40px;
    padding-left: 5%;
    text-shadow: -2px 2px 5px black;
}

#formulario{
    box-shadow: -4px 4px 10px black;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 50%;
    height: 100%;
    padding: 120px;
    background-color: white;
}

#formulario form{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}

.infos-input{
    width: 400px;
    font-size: 20px;
    margin-bottom: 40px;
    border: none;
    border-bottom: 1px solid black;
    color: black;
}

.redessocias{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 50px;

    border-top: 1px solid black;
}

.logo-redes-sociais {
    width: 40px;
    transition: .2s;
    cursor: pointer;
    background-color: white;
}

.logo-redes-sociais:hover{
    transform: scale(1.1);
}

#SeuProjeto{
    width: 400px;
    border: 1px solid black;
    resize: none;
    padding: 10px;
    text-align: justify;
}

#SeuProjeto::placeholder{
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

#mensagem {
    transform: translateY(30px);
    color: green;
    font-size: 14px;
    display: block;
    position: absolute;
}

.copiarTexto{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }

  input[type="submit"]{
    color: black;
    width: 200px;
    margin: 20px 0;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: rgb(223, 223, 223);
    transition: .2s;
    cursor: pointer;
  }

  input[type="submit"]:hover{
    transform: scale(1.1);
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.466), -4px -4px 5px rgba(192, 192, 192, 0.466);
  }